In [1]:
import numpy as np
import pandas as pd
from src.dataframe_preprocessing.dataframe_manipulation import (
    load_data, handle_nan_values, rename_columns,
    )

from src.dataframe_preprocessing.dataframe_preprocessing import (
    encoding_the_columns,
    )

Load the data and preprecess it

In [2]:
data = handle_nan_values(rename_columns(load_data()))

c:\Users\Mykelos\OneDrive\Desktop\Projects\CreditCardApproval\src\dataframe_preprocessing\dataframe_manipulation.py:35: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataframe.fillna(dataframe.mean(), inplace=True)

Encode the data

In [4]:
data = encoding_the_columns(data)

In [5]:
data

,col1,col2,2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15
0,1,156,0.000,2,1,13,8,1.25,1,1,1,0,0,68,0,0
1,0,328,4.460,2,1,11,4,3.04,1,1,6,0,0,11,560,0
2,0,89,0.500,2,1,11,4,1.50,1,0,0,0,0,96,824,0
3,1,125,1.540,2,1,13,8,3.75,1,1,5,1,0,31,3,0
4,1,43,5.625,2,1,13,8,1.71,1,0,0,0,2,37,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,1,52,10.085,3,3,5,4,1.25,0,0,0,0,0,90,0,1
686,0,71,0.750,2,1,2,8,2.00,0,1,2,1,0,67,394,1
687,0,97,13.500,3,3,6,3,2.00,0,1,1,1,0,67,1,1
688,1,20,0.205,2,1,0,8,0.04,0,0,0,0,0,96,750,1
689,1,197,3.375,2,1,2,4,8.29,0,0,0,1,0,0,0,1

c:\Users\Mykelos\OneDrive\Desktop\Projects\CreditCardApproval\src\dataframe_preprocessing\dataframe_manipulation.py:35: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataframe.fillna(dataframe.mean(), inplace=True)

In [3]:
data.columns

AttributeError: 'NoneType' object has no attribute 'columns'

In [5]:
data